html, body {
    margin: 0;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    overflow-x: hidden;
}

.App {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}