html, body {
    margin: 0;
    background-color: #323742;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    width: 100%;
}

#root {
    width: 100%;
}

.App {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}