html, body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#root {
    & .btn {
        margin: 1vh 0 2rem;
        background-color: #468ea0;
        padding: .375rem 1.5rem;
        font-size: 1rem;
        text-transform: uppercase;
    }

    :disabled {
        cursor: not-allowed;
    }
}