.visio-message {
    position: absolute;
    top: 0;
    z-index: 1;
}

.visio-message-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0
}

body .visio-link {
    cursor: pointer;
    text-decoration: underline;
}