html, body {
  margin: 0;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  height: 100vh;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  margin-top: 10vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-desc {
  margin: 6vh 0;
}

.App-footer {
  background: #998B7D;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin-top: 50px;
}

.App-link {
  color: #61dafb;
}

#root .App .form-group {
  margin: 0 0 9vh;
}

.btn btn-success {
  margin-bottom: 10vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
